.idea
123.py
main.jpg
.DS_Store
catboost_info/
14. Нейронные сети/data/
14. Нейронные сети/MNIST/
15. Домашнее задание. Сверточные и полносвязные нейросети/MNIST/
*.csv
15. Домашнее задание. Сверточные и полносвязные нейросети/.ipynb_checkpoints/
16. Домашнее задание классификация Симпсонов/testset
16. Домашнее задание классификация Симпсонов/train
*.pkl